# Archivos ignorados
# Bases de datos y sensibles
posventa.db
posventa-*.db
backups/
certificates/
logs/

# Runtime
writable/cache/
writable/logs/
writable/sessions/

# Dependencias
vendor/

# SO/editores
Thumbs.db
.DS_Store
.vscode/
.idea/

# Node/Build (si llegara a usarse)
node_modules/
dist/
